<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appdevproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- Adding/playing audio files from phone storage -->
    <!-- Internet access to check stream status -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDevProject">
        <activity
            android:parentActivityName=".MainActivity"
            android:name=".SettingsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AddAudioActivity"
            android:exported="false"
            android:label="@string/title_activity_add_audio"
            android:theme="@style/Theme.AppDevProject.NoActionBar" />
        <activity
            android:name=".AudioDetailActivity"
            android:exported="false"
            android:label="@string/title_audio_detail"
            android:theme="@style/Theme.AppDevProject.NoActionBar" />

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.appdevproject"
            android:name=".db.AudioContentProvider"
            android:exported="false" />
    </application>

</manifest>